#boardContent {
    padding: 0px 16px;
}

#boardButton {
    margin-top: 50px;
    padding: 0px 16px;
}

#toBoardList {
    flex: none;
}

#toBoardList > a {
    margin-left: 0;
}

#boardModifyButton {
    margin-left: auto;
}

#replyAddBtn {
    margin-left: 0px;
}

#replyInput {
    margin-top: 80px;
    padding: 15px;
    border: 1px solid #9da7fc;
    border-radius: 15px;
}

.timeline {
    padding: 0px 16px;
}

.comment-header {
    /*padding-top: 10px;*/
    display: flex;
    justify-content: space-between;
}

.comment-header-right #modify {
    margin-right: 5px;
}

#repliesDiv > .comment {
    border: 1px solid #9da7fc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
}

#modify,
#delete {
    background: #3b4ef8;
    color: white;
    border-style: none;
    border-radius: 5px;
}
