<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments/fragments.html :: main-nav"></div>
<div th:replace="fragments/fragments.html :: email-verified-alert"></div>
<div class="container">
    <div th:replace="fragments/boardFragments.html :: board-type(type = 'free')"></div>
    <div th:replace="fragments/boardFragments.html :: board-list(boards=${boards.content})"></div>
    <a href="/new-board" class="btn btn-dark mt-5">글작성</a>
</div>
<div th:replace="fragments/fragments.html::footer"></div>
<script th:replace="fragments/fragments.html :: date-time"></script>
</body>
</html>