<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments/fragments.html :: main-nav"></div>
<div th:replace="fragments/fragments.html :: email-verified-alert"></div>
<div class="container">
    <div th:replace="fragments/boardFragments.html :: board-type(type = 'question')"></div>
    <div th:replace="fragments/boardFragments.html :: board-list(boards=${boards.content})"></div>
    <nav th:replace="fragments/boardFragments.html :: board-pagination(boardType=${boardType}, boardPages=${boards})"></nav>
    <a href="/new-board" class="btn btn-dark mt-3">글작성</a>
</div>
<div th:replace="fragments/fragments.html::footer"></div>
<script th:replace="fragments/fragments.html :: date-time"></script>
</body>
</html>