<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments/fragments.html :: main-nav"></div>
<div th:replace="fragments/fragments.html :: message"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="border border-secondary my-4 p-4" style="width: 100%;">
            <div class="row">
                <div class="col-sm-10">
                    <a class="nav-link" href="#" id="userDropdown" role="button" aria-haspopup="true"
                       th:href="@{'/profile/' + ${boardReadForm.nickname}}" aria-expanded="false">
                        <svg th:if="${#strings.isEmpty(boardReadForm.profileImage)}"
                             th:data-jdenticon-value="${boardReadForm.nickname}"
                             width="24" height="24" class="rounded border bg-light"></svg>
                        <img th:if="${!#strings.isEmpty(boardReadForm.profileImage)}"
                             th:src="${boardReadForm.profileImage}"
                             width="24" height="24" class="rounded border">
                        <span th:text="${boardReadForm.nickname}"></span>
                    </a>
                    <h3 class="my-4" th:text="${boardReadForm.title}" style="padding-left: 16px">제목</h3>
                </div>
                <div class="col-sm text-right">
                    <span th:text="'조회수 ' + ${boardReadForm.viewCount}">조회수1</span>
                    <br>
                </div>
            </div>
            <div class="form-group my-4">
                <textarea class="form-control content" th:text="${boardReadForm.content}" rows="10"
                          readonly>내용</textarea>
            </div>

            <div class="pull-left" id="toBoardList">
                <a th:href="@{'/boards?boardType=' +${boardType} + '&page=' + ${currentPage}}"
                   class="btn btn-outline-dark">목록으로</a>
            </div>
            <div class="pull-right" th:if="${boardReadForm.isWriter(#authentication.getPrincipal())}"
                 style="margin-left: 10px">
                <a class="btn btn-secondary"
                   th:href="@{'/boards/' + ${id} + '/update?boardType=' + ${boardType} + '&page=' + ${currentPage}}">수정</a>
            </div>
            <div class="pull-right" th:if="${boardReadForm.isWriter(#authentication.getPrincipal())}">
                <button class="btn btn-danger" data-toggle="modal" data-target="#checkDeleteBoard">삭제</button>
            </div>

            <!--TODO: 디자인-->
            <div id="replyInput" style="margin-top: 100px">
                <div class="">
                    <div class="mb-3">
                        <label for="newReplyWriter" id="createReplyLabel">댓글 남기기</label>
                        <textarea class="form-control" id="newReplyWriter" name="content" placeholder="댓글을 남겨주세요"
                                  required></textarea>
                    </div>
                    <button class="btn btn-primary pull-right" type="submit" id="replyAddBtn">댓글 작성</button>
                </div>
            </div>

            <div class="timeline" style="margin-top: 100px">
                <!--timeline time label-->
                <span class="bg-green" id="replyListTitle">댓글 목록</span>
                <div class="time-label flex" id="repliesDiv">
                </div>
            </div>

            <!--댓글 Pagination-->
            <nav>
                <ul class="pagination pagination-sm justify-content-center">
                    <!--페이지 버튼 삽입-->
                </ul>
            </nav>

            <!--게시글 삭제 확인 모달 -->
            <div class="modal fade" id="checkDeleteBoard" tabindex="-1" role="dialog" aria-labelledby="leaveTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="leaveTitle" th:text="${boardReadForm.title}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>게시글을 삭제하시겠습니까??</p>
                            <p><strong>삭제</strong>하시려면 게시글의 제목을 똑같이 타이핑 해주세요.</p>
                        </div>
                        <div class="modal-footer">
                            <form th:action="@{'/boards/' + ${id} + '?boardType=' + ${boardType} + '&page=' + ${currentPage}}"
                                  th:method="delete">
                                <input type="text" name="title">
                                <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">삭제</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 수정 모달창-->
            <div class="modal fade" id="modifyReplyModal" tabindex="-1" role="dialog" aria-labelledby="leaveTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">댓글 수정</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>댓글을 수정해주세요.</p>
                            <textarea class="form-control" id="modifyReplyWriter" name="content"
                                      placeholder="댓글을 작성해 주세요"
                                      required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp"
                                    id="replyModifyButton">수정
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 삭제 모달창 -->
            <div class="modal fade" id="deleteReplyModal" tabindex="-1" role="dialog" aria-labelledby="leaveTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">댓글 삭제</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>삭제</strong> 하시겠습니까?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp"
                                    id="replyDeleteButton">삭제
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<input type="hidden" id="boardId" th:value="${id}">
<input type="hidden" id="nickname" th:value="${boardReadForm.nickname}">
<input type="hidden" id="currentAccountNickname" th:value="${account.nickname}">
<input type="hidden" id="boardRequestUrl" th:value="'/boards/' + ${id} + '?boardType=' + ${boardType} + '&page=' + ${currentPage}">
<!--<input type="hidden" id="nicknameKeyword" th:if="${nicknameKeyword}" th:value="${nicknameKeyword}">-->
<!--<input type="hidden" id="titleKeyword" th:if="${titleKeyword}" th:value="${titleKeyword}">-->

<script id="template" type="text/x-handlebars-template">
    {{#each .}}
        <div class="col-md-12 comment" data-id="{{id}}">
            <div class="panel panel-default">
                <div class="panel-heading d-flex justify-content-between">
                    <h4 class="panel-title">
                        <a href="/profile/{{nickname}}">
                            <span class="user-violet">{{nickname}}</span>
                        </a>
                        <span class="fromNow">{{createdDateTime}}</span>
                    </h4>
                    {{#if isWriter}}
                        <h6 class="panel-title" id="modifyReply">
                            <input type="button" id="modify" value="수정" onclick="reply.modifyReply({{id}})"
                                   data-toggle="modal" data-target="#modifyReplyModal">
                            <input type="button" id="delete" value="삭제" onclick="reply.deleteReply({{id}})"
                                   data-toggle="modal" data-target="#deleteReplyModal">
                        </h6>
                    {{/if}}
                </div>
                <div class="panel-body">
                    <div class="content" style="line-height: 30px;">{{content}}</div>
                </div>
            </div>
        </div>
    {{/each}}
</script>
<script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
<script src="/js/global.js"></script>
<script src="js/board/boardRead.js"></script>
<script src="/js/reply/reply.js"></script>

<div th:replace="fragments/fragments.html :: footer"></div>
<div th:replace="fragments/fragments.html :: editor-script"></div>
</body>
</html>