<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments.html :: head"></head>
<body class="bg-light">
<header th:replace="fragments/fragments.html :: main-header"></header>
<div th:replace="fragments/fragments.html :: message"></div>
<main id="main" class="container">
    <div class="row justify-content-center">
        <div class="my-4 p-4" id="boardContentContainer" style="width: 100%;">
            <!-- 게시글 헤더-->
            <div class="row">
                <div class="col-sm-10">
                    <a class="nav-link" href="#" id="userDropdown" role="button" aria-haspopup="true"
                       th:href="@{'/profile/' + ${boardReadForm.nickname}}" aria-expanded="false">
                        <svg th:if="${#strings.isEmpty(boardReadForm.profileImage)}"
                             th:data-jdenticon-value="${boardReadForm.nickname}"
                             width="24" height="24" class="rounded border bg-light"></svg>
                        <img th:if="${!#strings.isEmpty(boardReadForm.profileImage)}"
                             th:src="${boardReadForm.profileImage}"
                             width="24" height="24" class="rounded border">
                        <span th:text="${boardReadForm.nickname}">joohyuk</span>
                    </a>
                    <h3 class="my-4" th:text="${boardReadForm.title}" style="padding-left: 16px">안녕하세요 ~~</h3>
                </div>
                <div class="col-sm text-right">
                    <span th:text="'조회수 ' + ${boardReadForm.viewCount}">조회수1</span>
                    <br>
                </div>
            </div>

            <!-- 게시글 본문-->
            <div class="form-group my-2" id="boardContent">
                <p class="content" th:text="${boardReadForm.content}" rows="10"
                   readonly>안녕하세요 반갑습니다 제 이름은 김주혁 입니다.</p>
            </div>

            <!-- 게시글 목록, 수정, 삭제 버튼-->
            <div class="d-flex justify-content-end" id="boardButton">
                <div class="pull-left" id="toBoardList">
                    <a th:if="${boardSearch.searchCondition}" th:href="@{'/boards?searchCondition=' +${boardSearch.searchCondition}
                        + '&boardType=' + ${boardSearch.boardType} + '&keyword=' + ${boardSearch.keyword}
                        + '&page=' + ${currentPage}}"
                       class="btn get-started-btn">목록으로</a>
                    <a th:unless="${boardSearch.searchCondition}"
                       th:href="@{'/boards?boardType=' +${boardType} + '&page=' + ${currentPage}}"
                       class="btn get-started-btn">목록으로</a>
                </div>

                <div id="boardModifyButton" class="mr-2"
                     th:if="${boardReadForm.isWriter(#authentication.getPrincipal())}">
                    <a class="btn get-started-btn"
                       th:href="@{'/boards/' + ${id} + '/update?boardType=' + ${boardType} + '&page=' + ${currentPage}}">수정</a>
                </div>
                <div id="boardDeleteButton" class="pull-right"
                     th:if="${boardReadForm.isWriter(#authentication.getPrincipal())}">
                    <button class="btn btn-danger" data-toggle="modal" data-target="#checkDeleteBoard">삭제</button>
                </div>
            </div>

            <!-- 댓글 작성 뷰-->
            <div id="replyInput">
                <div class="">
                    <div class="mb-3">
                        <label for="newReplyWriter" id="createReplyLabel">댓글 남기기</label>
                        <textarea class="form-control" id="newReplyWriter" name="content" placeholder="댓글을 남겨주세요"
                                  required></textarea>
                    </div>
                    <button class="btn get-started-btn" type="submit" id="replyAddBtn">댓글 작성</button>
                </div>
            </div>

            <!-- 댓글 목록 뷰-->
            <div class="timeline" style="margin-top: 100px">
                <!--timeline time label-->
                <span class="bg-green" id="replyListTitle">댓글 목록</span>
                <div class="time-label flex" id="repliesDiv">
                    <!-- Reply List-->
                    <!-- Reply List End-->
                </div>
            </div>

            <!--댓글 Pagination-->
            <nav>
                <ul class="pagination pagination-sm justify-content-center">
                    <!--페이지 버튼 삽입-->
                </ul>
            </nav>

            <!--게시글 삭제 확인 모달 -->
            <div class="modal fade" id="checkDeleteBoard" tabindex="-1" role="dialog" aria-labelledby="leaveTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="leaveTitle" th:text="${boardReadForm.title}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>게시글을 삭제하시겠습니까??</p>
                            <p><strong>삭제</strong>하시려면 게시글의 제목을 똑같이 타이핑 해주세요.</p>
                        </div>
                        <div class="modal-footer">
                            <form th:action="@{'/boards/' + ${id} + '?boardType=' + ${boardType} + '&page=' + ${currentPage}}"
                                  th:method="delete">
                                <input type="text" name="title">
                                <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">삭제</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 수정 모달창-->
            <div class="modal fade" id="modifyReplyModal" tabindex="-1" role="dialog" aria-labelledby="leaveTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">댓글 수정</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body form-group">
                            <p>댓글을 수정해주세요.</p>
                            <textarea class="form-control" id="modifyReplyWriter" name="content"
                                      placeholder="댓글을 작성해 주세요"
                                      required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp"
                                    id="replyModifyButton">수정
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 삭제 모달창 -->
            <div class="modal fade" id="deleteReplyModal" tabindex="-1" role="dialog" aria-labelledby="leaveTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">댓글 삭제</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>삭제</strong> 하시겠습니까?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp"
                                    id="replyDeleteButton">삭제
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<input type="hidden" id="boardId" th:value="${id}">
<input type="hidden" id="nickname" th:value="${boardReadForm.nickname}">
<input type="hidden" id="currentAccountNickname" th:value="${account.nickname}">
<input type="hidden" id="boardRequestUrl"
       th:value="'/boards/' + ${id} + '?boardType=' + ${boardType} + '&page=' + ${currentPage}">
<input type="hidden" id="boardSearch" th:value="${boardSearch}">

<script id="template" type="text/x-handlebars-template">
    {{#each .}}
        <div class="col-md-12 comment" data-id="{{id}}">
            <div class="comment-header">
                <div class="comment-header-left">
                    <a href="/profile/{{nickname}}">
                        <span>{{nickname}}</span>
                    </a>
                    <span class="fromNow">{{createdDateTime}}</span>
                </div>
                {{#if isWriter}}
                    <div class="comment-header-right">
                        <h6 class="panel-title d-flex" id="modifyReply">
                            <input type="button" id="modify" value="수정" onclick="reply.modifyReply({{id}})"
                                   data-toggle="modal" data-target="#modifyReplyModal">
                            <input type="button" id="delete" value="삭제" onclick="reply.deleteReply({{id}})"
                                   data-toggle="modal" data-target="#deleteReplyModal">
                        </h6>
                    </div>
                {{/if}}
            </div>
            <div class="comment-main">
                <div class="content">{{content}}</div>
            </div>
        </div>    {{/each}}
</script>
<script src="/assets/js/global.js"></script>
<script src="/assets/js/board/boardRead.js"></script>
<script src="/assets/js/reply/reply.js"></script>

<div th:replace="fragments/fragments.html :: footer"></div>
<div th:replace="fragments/fragments.html :: editor-script"></div>
</body>
</html>