<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="board-type (type)" class="mt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="all" th:classappend="${type == 'all'} ? active"
               href="/boards?boardType=all" aria-selected="true">전체</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="notice" th:classappend="${type == 'notice'} ? active"
               href="/boards?boardType=notice" aria-selected="false">공지</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="free" th:classappend="${type == 'free'} ? active"
               href="/boards?boardType=free" aria-selected="false">자유</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="question" th:classappend="${type == 'question'} ? active"
               href="/boards?boardType=question" aria-selected="false">질문</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="promotion" th:classappend="${type == 'promotion'} ? active"
               href="/boards?boardType=promotion" aria-selected="false">홍보</a>
        </li>
    </ul>
</div>

<div th:fragment="board-list (boards)">
    <table class="table table-striped mt-5">
        <thead>
        <tr>
            <th scope="col">글 번호</th>
            <th scope="col">제목</th>
            <th scope="col">글쓴이</th>
            <th scope="col">작성 시간</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <td th:text="${board.id}" scope="row">1</td>
            <td>
                <a th:href="@{'/boards/' + ${board.id} + '?boardType=' + ${boardType} + '&page=' + ${currentPage}}" th:text="${board.title}">
                    제목
                </a>
            </td>
            <td th:text="${board.nickname}">글쓴이</td>
            <td class="fromNow" th:text="${board.createdDateTime}">작성 시간</td>
            <td th:text="${board.viewCount}">조회수</td>
        </tr>
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation" class="mt-5" th:fragment="board-pagination (boardType, boardPages)">
    <ul class="pagination justify-content-center"
        th:with="startNumber=${T(Math).floor(boardPages.number/10)}*10+1,
                 endNumber=(${boardPages.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardPages.totalPages}">

        <li class="page-item">
            <a class="page-link" aria-label="Previous" th:href="@{'/boards?boardType=' + ${boardType} + '&page=1'}">&laquo;</a>
        </li>

        <li class="page-item" th:classappend="${boardPages.first} ? disabled">
            <a class="page-link" th:href="@{'/boards?boardType=' + ${boardType} + '&page=' + ${boardPages.number}}">&lsaquo;</a>
        </li>

        <li class="page-item" th:each="page :${#numbers.sequence(startNumber, endNumber)}"
            th:classappend="(${page} == ${boardPages.number} + 1) ? active">
            <a class="page-link" th:href="@{'/boards?boardType=' + ${boardType} + '&page=' + ${page}}"
               th:text="${page}">
                <span class="sr-only"></span>
            </a>
        </li>

        <li class="page-item" th:classappend="${boardPages.last} ? disabled">
            <a class="page-link" th:href="@{'/boards?boardType=' + ${boardType} + '&page=' + ${boardPages.number+2}}">&rsaquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" aria-label="Next"
               th:href="@{'/boards?boardType=' + ${boardType} + '&page=' + ${boardPages.totalPages}}">&raquo;</a>
        </li>
    </ul>
</nav>
</html>