<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="board-type (type)" class="mt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="all" th:classappend="${type == 'ALL'} ? active"
               href="/boards?boardType=ALL" aria-selected="true">전체</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="notice" th:classappend="${type == 'NOTICE'} ? active"
               href="/boards?boardType=NOTICE" aria-selected="false">공지</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="free" th:classappend="${type == 'FREE'} ? active"
               href="/boards?boardType=FREE" aria-selected="false">자유</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="question" th:classappend="${type == 'QUESTION'} ? active"
               href="/boards?boardType=QUESTION" aria-selected="false">질문</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="promotion" th:classappend="${type == 'PROMOTION'} ? active"
               href="/boards?boardType=PROMOTION" aria-selected="false">홍보</a>
        </li>
    </ul>
</div>

<div th:fragment="board-list (boards, boardSearch)">
    <table class="table table-borderless mt-5">
        <thead>
        <tr>
            <th scope="col">글 번호</th>
            <th scope="col">제목</th>
            <th scope="col">글쓴이</th>
            <th scope="col">작성 시간</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <td th:text="${board.id}" scope="row">1</td>
            <td>
                <a th:if="${boardSearch.searchCondition}" th:href="@{'/boards/' + ${board.id}
                    + '?searchCondition=' + ${boardSearch.searchCondition}
                    + '&boardType=' + ${boardSearch.boardType} + '&keyword=' + ${boardSearch.keyword}
                    + '&page=' + ${currentPage}}"
                   th:text="${board.title}">
                    제목
                </a>
                <a th:unless="${boardSearch.searchCondition}"
                   th:href="@{'/boards/' + ${board.id} + '?boardType=' + ${boardType} + '&page=' + ${currentPage}}"
                   th:text="${board.title}">
                    제목
                </a>
            </td>
            <td th:text="${board.nickname}">글쓴이</td>
            <td class="fromNow" th:text="${board.createdDateTime}">작성 시간</td>
            <td th:text="${board.viewCount}">조회수</td>
        </tr>
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation" class="mt-5" th:fragment="board-pagination (boardType, boardPages, boardSearch)">

    <ul class="pagination justify-content-center" th:if="${boardSearch.searchCondition}"
        th:with="startNumber=${T(Math).floor(boardPages.number/10)}*10+1,
                 endNumber=(${boardPages.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardPages.totalPages}">

        <li class="page-item">
            <a class="page-link" aria-label="Previous"
               th:href="@{'/boards?searchCondition='+ ${boardSearch.searchCondition} +
               '&boardType=' + ${boardSearch.boardType}+ '&keyword=' + ${boardSearch.keyword} + '&page=1'}">&laquo;</a>
        </li>

        <li class="page-item" th:classappend="${boardPages.first} ? disabled">
            <a class="page-link"
               th:href="@{'/boards?searchCondition='+ ${boardSearch.searchCondition} + '&boardType=' + ${boardSearch.boardType}
            + '&keyword=' + ${boardSearch.keyword} + '&page=' + ${boardPages.number}}">&lsaquo;</a>
        </li>

        <li class="page-item" th:each="page :${#numbers.sequence(startNumber, endNumber)}"
            th:classappend="(${page} == ${boardPages.number} + 1) ? active">
            <a class="page-link" th:href="@{'/boards?searchCondition='
            + ${boardSearch.searchCondition} + '&boardType=' + ${boardSearch.boardType}
            + '&keyword=' + ${boardSearch.keyword} + '&page=' + ${page}}" th:text="${page}"></a>
        </li>

        <li class="page-item" th:classappend="${boardPages.last} ? disabled">
            <a class="page-link" th:href="@{'/boards?searchCondition='
            + ${boardSearch.searchCondition} + '&boardType=' + ${boardSearch.boardType}
            + '&keyword=' + ${boardSearch.keyword} + '&page=' + ${boardPages.number+2}}">&rsaquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" th:href="@{'/boards?searchCondition='
            + ${boardSearch.searchCondition} + '&boardType=' + ${boardSearch.boardType}
            + '&keyword=' + ${boardSearch.keyword} + '&page=' + ${boardPages.totalPages}}">&raquo;</a>
        </li>
    </ul>

    <ul class="pagination justify-content-center" th:unless="${boardSearch.searchCondition}"
        th:with="startNumber=${T(Math).floor(boardPages.number/10)}*10+1,
                 endNumber=(${boardPages.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardPages.totalPages}">

        <li class="page-item">
            <a class="page-link" aria-label="Previous" th:href="@{'/boards?boardType=' + ${boardType} + '&page=1'}">&laquo;</a>
        </li>

        <li class="page-item" th:classappend="${boardPages.first} ? disabled">
            <a class="page-link" th:href="@{'/boards?boardType=' + ${boardType} + '&page=' + ${boardPages.number}}">&lsaquo;</a>
        </li>

        <li class="page-item" th:each="page :${#numbers.sequence(startNumber, endNumber)}"
            th:classappend="(${page} == ${boardPages.number} + 1) ? active">
            <a class="page-link" th:href="@{'/boards?boardType=' + ${boardType} + '&page=' + ${page}}"
               th:text="${page}">
                <span class="sr-only"></span>
            </a>
        </li>

        <li class="page-item" th:classappend="${boardPages.last} ? disabled">
            <a class="page-link" th:href="@{'/boards?boardType=' + ${boardType} + '&page=' + ${boardPages.number+2}}">&rsaquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" aria-label="Next"
               th:href="@{'/boards?boardType=' + ${boardType} + '&page=' + ${boardPages.totalPages}}">&raquo;</a>
        </li>
    </ul>
</nav>
</html>