<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="settings-menu (currentMenu)" class="list-group">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active"
           th:href="@{/settings/profile}">프로필</a>
        <a href="#" class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active"
           th:href="@{/settings/password}">패스워드</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger"
           th:classappend="${currentMenu == 'account'}? active" th:href="@{/settings/account}">계정</a>
    </div>
</div>

</html>