<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments.html::head"></head>
<body class="bg-light">
<main id="main">
    <section class="text-center">
        <div class="container">
            <h1>커뮤니티 서비스</h1>
            <p class="lead text-muted">
                잘못된 요청입니다.<br/>
            </p>
            <p>
                <a th:href="@{/}" class="btn btn-get-started my-2">첫 페이지로 이동</a>
            </p>
        </div>
    </section>
</main><!-- End #main -->
<div th:replace="fragments/fragments.html::footer"></div>
</body>
</html>