<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments/fragments.html :: main-nav"></div>
<div th:replace="fragments/fragments.html :: email-verified-alert"></div>
<section class="jumbotron text-center" th:if="${account == null}">
    <div class="container">
        <h1>Community 게시판</h1>
        <p>
            <a th:href="@{/sign-up}" class="btn btn-primary my-2">회원 가입</a>
        </p>
    </div>
</section>
<div th:replace="fragments/fragments.html::footer"></div>
</body>
</html>